body{
    background-image: url(sand.png);
    background-size: cover;
}


.contact
{
    background-color:black;
    width: 250px;
    height: 600px;
    font-family: sans-serif;
    border-radius: 15px;
    color: white;
    margin-top: 40px;
}

#messageinput
{
    width: 220px;
    height: 150px;
}

button
{
    width: 100px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    background-color:white;
}

#contactform
{
    float: right; 
    margin-right: 100px;
}

a{
    color:white;
}

#maintext
{
    background-color: white;
    width: 1000px;
    height: 650px;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    font-family: sans-serif;
    font-variant: inherit;
    font-size: large;
    text-align: center;
    
}

#pictureBox
{
    background-color: black;
    float: left;
    height: 650px;
    width: 300px;
}

#picture
{
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 15px;
}


#clock
{
    font-size: xx-large;
    background-color: white;
    font-weight: bolder;
    width: 130px;
    margin-left: 100px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: -20px;
}

#welcome
{
    margin-left: 300px;
    background-color: black;
    border-radius: 15px;
    color:white;
    width:500px;
    text-align: center;
    float: right;
    margin-bottom: -20px;
    margin-top: -20px;
    margin-right: 530px;
}













